
# CONFIG_UFSHID is not set
# CONFIG_UFSHID_POC is not set
# CONFIG_UFSHID_DEBUG is not set
# CONFIG_UFSRINGBUF is not set
# CONFIG_UFSRINGBUF_POC is not set

CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx111_mipi_raw s5kjn1_mipi_raw"
CONFIG_DRM_PANEL_Q20_HD720_LCM_DSI_VDO=m
CONFIG_TOUCHSCREEN_MTK=y
CONFIG_TOUCHSCREEN_MTK_HODAFONEHW=m
# CONFIG_TOUCHSCREEN_Q20_TOUCH is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV is not set
CONFIG_CHARGER_UPM6922=m
CONFIG_CHARGER_UPM6722=m
CONFIG_TCPC_UPM7610=m
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_KEYBOARD_Q20_KEYBOARD=y
CONFIG_KEYBOARD_BBQX0_KEYBOARD=m
CONFIG_SND_SOC_OCA72XXX=m
CONFIG_MTK_VIDEO_FLASHLIGHT_GPIO=m
CONFIG_LEDS_GPIO=m
CONFIG_RT_REGMAP=m
CONFIG_HODAFONE_BATTERY_SUPPORT=m
